@font-face {
  font-family: "iconfont"; /* Project id 5177376 */
  src: url('iconfont.woff2?t=1778944494369') format('woff2'),
       url('iconfont.woff?t=1778944494369') format('woff'),
       url('iconfont.ttf?t=1778944494369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-copy-copy-copy:before {
  content: "\e604";
}

.icon-fasong:before {
  content: "\10207";
}

.icon-share:before {
  content: "\e738";
}

.icon-zhuanfa:before {
  content: "\e6c4";
}

.icon-1:before {
  content: "\e602";
}

.icon-dingwei:before {
  content: "\e609";
}

.icon-shangchuantupian:before {
  content: "\e60c";
}

.icon-xinwen:before {
  content: "\e7f7";
}

.icon-yewujieshao-chengjipinche:before {
  content: "\e603";
}

.icon-jilu:before {
  content: "\e686";
}

.icon-pingjia:before {
  content: "\e60a";
}

.icon-pinglun:before {
  content: "\e767";
}

.icon-dianzan2:before {
  content: "\e768";
}

.icon-pinglun1:before {
  content: "\e618";
}

.icon-pingjia1:before {
  content: "\e60e";
}

.icon-naozhong_huaban1:before {
  content: "\e610";
}

.icon-shangchuantupian1:before {
  content: "\e600";
}

.icon-shangchuanwenjian:before {
  content: "\e69e";
}

.icon-wuyebaoxiu:before {
  content: "\e727";
}

.icon-baojing:before {
  content: "\e705";
}

.icon-jiduhuodong:before {
  content: "\e72d";
}

.icon-bangzhuzhongxin:before {
  content: "\e733";
}

.icon-kefu:before {
  content: "\e734";
}

.icon-richangjilu:before {
  content: "\e735";
}

.icon-pingjia2:before {
  content: "\e736";
}

.icon-shouye:before {
  content: "\e737";
}

